streamlit>=1.32.0
openai==0.28
python-dotenv>=1.0.1
vaderSentiment>=3.3.2
plotly>=5.20.0
matplotlib>=3.8.0
wordcloud>=1.9.3
SpeechRecognition>=3.10.1
pyaudio>=0.2.13
elevenlabs>=0.3.0
pyttsx3>=2.90
numpy>=1.24
